/*creating the body and creating header styles*/
body {
    background-image: url("pac_man.jpg");
    line-height: 1.88889;
	margin: 0; 
	padding: 0;
  }
  h1 {
      color: goldenrod;
      font: 75% courier, monospace;
      text-align: center;
      font-size: 5em;
  }
  h2 {
      color: goldenrod;
      font: 75% courier, monospace;
      text-align: center;
      font-size: 4em;
  }
  h3 { 
    text-align: center;
    border-style: dotted;
    border-color: cyan;
	font: italic normal 1.4em courier, monospace;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: goldenrod;
	}

  p { 
        margin-top: 0; 
        text-align: justify;
    }
    /*setting font style*/
    body, h1, h2, h3 { 
        font-family: 'Press Start 2P', cursive; 
    }
    /*setting colors of links, visited links, and hover colors*/
    a:link { 
        font-weight: bold; 
        text-decoration: none; 
        color: goldenrod;
        }
    a:visited { 
        font-weight: bold; 
        text-decoration: none; 
        color: cyan;
        }
    a:hover, a:focus, a:active { 
        text-decoration: underline; 
        color: red;
        }
    abbr {
        border-bottom: none;
        }
    /*creeate center, right, and left classes to call*/
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  .right {
      margin-left: auto;
      float: right;
  }
  
  .left {
      margin-right: auto;
      float: left;
  }
  
  .nofloats {
      float: none;
      clear: both;
  }
  
  p {
      color: white;
  }
  /*creating the page wrapper and footer*/
  .page-wrapper { 
	background: transparent url(https://media0.giphy.com/media/l8G8sdTRURRBANPpPR/giphy.gif) no-repeat top center;
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

    footer { 
        text-align: center;
        background-size: cover;
        background-image: url(https://media3.giphy.com/media/0fz5uNPHnoVHLEhAW2/giphy.gif);
        width: 480px;
        height: 107px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    ul {
        list-style-image:
        url('cherrybullet.jpg');
    }