#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

body  {
    background-image: url("pokeball.jpg");
    }

img {
    align-content: left;
}

h3 {
    font-family: 'VT323', monospace;
    color: black;
    text-align: left;
    font-size: 30px;
}

.myDiv {
    float: right;
    font-size: 50px;
    color: black;
    font-family: 'VT323', monospace;
}
