body  {
    height: 100%;
    background: linear-gradient(90deg, darkred 75%, white 25%)
}

img {
    align-content: left;
}

h3 {
    font-family: 'VT323', monospace;
    color: black;
    text-align: left;
    font-size: 30px;
}

.myDiv {
    font-size: 50px;
    color: black;
    font-family: 'VT323', monospace;
    vertical-align: top;
    float: right;
}

br {
    display: block;
    margin: 5px 0;
}

.vertical {
    border-left: 10px solid black;
    height: 110%;
    position:absolute;
    left: 75%;
}
