h1 {
    color: white;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 50px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1511882150382-421056c89033?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80);
    font-family: 'VT323', monospace;
}
p {
    color: yellow;
    font-size: 30px;
    text-align: center;
}

.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        color: cyan;
        opacity: 0;
    }
    100% {
        color: yellow;
        opacity: 1;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}